body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fff8f0;
    color: #4b2e20;
}

.menu {
    background: #4b2e20;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.menu .logo {
    height: 500px;
    margin-right: 200px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: #f7e4c2;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #8c5a3c;
    padding: 80px;
    text-align: center;
    color: white;
}

.produtos {
    padding: 40px;
}

.grid {
    display: flex;
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px #00000022;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.content {
    padding: 40px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccaa88;
}

button {
    background: #4b2e20;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}
